# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Laboratorio09.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Gustavo Blanco\RiderProjects\Laboratorio09\.idea\.idea.Laboratorio09\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
